body {
  font-family: 'Playfair Display', serif;
}

.center-text {
  margin: auto;
  text-align: center;
}

.title-main {
  width: 80px;
}

.huge-text {
  font-size: 10em;
}

.title-subscript {
  position: absolute;
  bottom: 0px;
}

.border-style {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.game-box {
  height: 50px;
}

.letter-holder {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
}

.letter-on {
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.letter-off {
  text-align: center;
  color: rgba(0, 0, 0, 0);
}
